.selecao__jogadores-botao{
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    background-color: #fdfdfd;
}

.btn__action:active{
    color: #fdfdfd;
    background-color: #020d3f;
}

.btn__action:hover{
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid #fdfdfd;
}