.btn__action{
    padding: 0.8rem 1rem;
}

.btn__action:active{
    color: #fdfdfd;
    background-color: #020d3f;
}

.btn__action:hover{
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #020d3f;
    color: #fdfdfd;
}