html {
    width: 100%;
}

body {
    background: #fdfdfd;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "cadastro"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 110px calc(100vh - 160px)  50px; 
}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #051d40;
}

.cabecalho__logo {
    width: 100px;
    height: 100ps;
}

.cadastro {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cadastro__formulario {
    box-shadow: 0px 0px 16px 3px rgba(6,8,18,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 97%;
    background-color: #191970;
    border-radius: 12px;
    flex-wrap: wrap;
    color: #fdfdfd;
}

.cadastro__container__labels {
    display: flex;
    padding: 1rem 1.5rem;
    width: 70%;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cadastro__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.cadastro__players {
    margin: 0.5rem 0;
    margin-left: 1rem;
}

.cadastro__input {
    margin-left: 1rem;
    margin: 0.7rem 0;
}