.cabecalho {
    align-items: center;
    background-color: #051d40;
    display: flex;
    justify-content: center;
}

.cabecalho__apresentacao{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.cabecalho__logo {
    height: 120px;
    width: 220px;
}