.cabecalho {
    align-items: center;
    background-color: #051d40;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.cabecalho__logo {
    height: 110ps;
    width: 110px;
}