body {
    background: #fdfdfd;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 120px auto  60px; 
}

.conteudo{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo__detalhe{
    align-items: flex-start;
    background-color: #191970;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 3px rgba(6,8,18,1);
    color: #fdfdfd;
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
    width: 98%;
}