html {
    width: 100%;
}

body {
    background: #fdfdfd;
    display: grid;  
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 110px calc(100vh - 160px)  50px;  
}

.conteudo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    align-items: center;
    background-color: #191970;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 3px rgba(6,8,18,1);
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: center;
    width: 97%;
}

.container__label {
    color: #fdfdfd;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container__select {
    border-radius: 12px;
    margin-bottom: 1rem;
    padding: 0.7rem;
}