.definicao__confrontos {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.definicao__confrontos-box {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    width: 50%;
}

table {
    width: 100%;
}

thead {
    background: #555555;
	color: #fdfdfd;
	font-weight: bold;
}

td, th {
	border: 1px solid #000555;
	padding: 0.3rem 0.7rem;
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
}

td {
    background-color: #fdfdfd;
    color: black;
}

td:hover {
    font-size: 1.3rem;
    background-color: #000555;
    color: #fdfdfd;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}