button {
    border-radius: 5px;
    border: none;    
    text-transform: uppercase;
    padding: 0.2rem ;
    background-color: #fdfdfd;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    flex: 1;
    margin: 1rem 0;
}

.exibicao__jogadores-botao:hover {
    font-size: 1rem;
    color: #fdfdfd;
    background-color: #020d3f;
}

.exibicao__jogadores-botoes {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}